<section id="player">
  <div class="details">
    <span id="now-playing">-</span>
    <span id="track-image"></span>
    <span id="track-name">-</span>
    <span id="track-artist">-</span>
  </div>
  <div class="buttons">
    <button id="prev-track"><i class="fa fa-step-backward fa-2x"></i></button>
    <button id="play-pause-track"><i class="fa fa-play-circle fa-5x"></i></button>
    <button id="next-track"><i class="fa fa-step-forward fa-2x"></i></button>
  </div>
  <div class="slider-container">
    <div id="current-time">00:00</div>
    <input type="range" min="1" max="100" value="0" id="track-slider">
    <div id="total-duration">00:00</div>
  </div>
  <div class="slider-container">
    <i class="fa fa-volume-down"></i>
    <input type="range" min="1" max="100" value="99" id="volume-slider">
    <i class="fa fa-volume-up"></i>
  </div>
</section>