<form action="#" id="form">
    <!-- crear clases para decorar el formulario -->

    <div class="input-grup">
        <label for="name">Nombre</label>
        <input type="text" id="name">
    </div>
    <div class="input-grup">
        <label for="name">Nombre</label>
        <input type="text" id="name">
    </div>
    <div class="input-grup">
        <label for="name">Nombre</label>
        <input type="text" id="name">
    </div>
    <div class="input-grup">
        <label for="name">Nombre</label>
        <input type="text" id="name">
    </div>
    <div class="input-grup">
        <label for="name">Nombre</label>
        <input type="text" id="name">
    </div>


</form>