#form{
    display: grid;
    display: none;
    /* TODO: eliminar display: none; */
    width: calc(100% - 2rem);
    gap: 1.5em;
    margin: 1rem;
}
/* TODO: esto es el color de los botones del navbar, mover esto al lugar que corresponda */
.input-group{
    display: grid;
    gap: 1.2em;
}
#prev-view , #add-something{
    color:  var(--secondary-color);
}

.download-arrow{
    color:  var(--secondary-color);
}
