#main-menu {
    min-height: calc(100vh - var(--navbar-height));
    display: grid;
    gap: .5em;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-content: start;
}

.playlist {
    background-image: url("https://c8.alamy.com/compes/pe2fm5/cartoon-vectores-icono-musica-de-estilo-comic-nota-sonido-firmar-ilustracion-pictograma-melody-music-business-efecto-splash-concepto-pe2fm5.jpg");
    background-position: center;
    background-size: contain;
    aspect-ratio: 1;
    width: 100%;
    border: 3px var(--primary-color) solid;
    display: grid;
    place-items: center;
    border-radius: .5rem;
}

.playlist h3{
    color: var(--primary-color);
}

.playlist button {
    border-radius: 50%;
    height: .5in;
    width: .5in;

    background-color: var(--secondary-color);
    display: grid;
    place-content: center;
}