.input-group{
    display: grid;
    gap: 1.2em;
    color: var(--primary-color);
  }
  #prev-view , #add-something{
    color: var(--primary-color);
  }
  
  .download-arrow{
    color: var(--primary-color);
  }