
#simple-player {
    position: fixed;
    bottom: 0;
    width: 90%; /* Ocupa el ancho completo de la ventana */
    background-color: #333; /* Color de fondo de la barra de navegación */
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    background-color: #ff5722; 
    border-radius: 50%; 
    margin-right: 10px;
  }
  
  .text {
    display: flex;
    flex-direction: column;
  }
  
  .text span {
    margin: 0;
    color: #fff; 
  }
  
  .fa-play {
    font-size: 20px;
    color: #fff; 
  }